.img-nav {
    margin-left: 60px;
    border-radius: 50%;
}

.navbar {
    background-color: #58D68D;
    font-size: 1.3em;
}

.sobremim {
    background-color: rgb(125, 125, 214);
}

.h4desc {
    width: 70%;
    margin: auto;
    padding-bottom: 20px;
    margin-bottom: 0;
    text-align: justify;
}

.margin {
    padding-top: 50px;
}

.img-sobremim {
    padding: 20px;
}

.redes-sociais {
    background-color: rgb(27, 238, 168);
    padding: 30px;
}

.container {
    padding: 20px;
}

.row img {
    margin-bottom: 30px;
}

.row p {
    text-align: justify;
}

.bg-footer {
    background-color: black;
    color: white;
    padding: 20px;
    font-style: italic;
}